	<div class="footer">
		<p>
			
		</p>
	</div>
	<!-- Footer -->
	<footer class="page-footer font-small pt-4">
		<div class="footer-copyright text-center py-3">Designed and Powered by <a href="https://slmodd.com">Slightly Modified Technologies</a> (SLMODD)
		</div>
	</footer>
	<!-- Footer -->
</body>
</html>