<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align:center;">Leave A Review for <%= campground.name %></h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" 
							placeholder="Please Leave your Feedback....." />
				</div>
				<div class="form-group">
					<input class="btn btn-primary btn-block" type="submit" />
				</div>
			</form>
			<a href="/campgrounds/<%= campground._id %>">Go Back To <%= campground.name %></a>
		</div>
	</div>	
</div>

<% include ../partials/footer %>