<% include ../partials/header %>

<!-- THE PAGE HEADER -->
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To YelpCamp</h1>	
			<p>View our hand-picked campgrounds from all over the world!</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
			</p>

		</div>
	</header>

	<!-- Create Dynamic Row in the ForEach Loop but use Bootstrap Styles -->
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img style="height: 200px;" src="<%= campground.image %>">
					<div class="caption">
						<h4><%= campground.name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-default">
							More Info
						</a>
					</p>
				</div>
			</div>
		<% }); %>
		
	</div>
		
	<!-- UGLY RETURN BUTTON -->
	<a href="/">Return to Landing Page</a>
</div>
<% include ../partials/footer %>
